/* css animations */

  /* titre neon */ 
  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

  h1 {
    font-size: 80px ;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; 
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    z-index: -2;
  }
  
  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; 
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  

/*  navbar */

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul li
{
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px transparent(255,255,255,0.5);

}

ul li a::before{
    content: attr(data-text);
    position :  absolute;
    color: var(--clr);
    width: 0%;
    overflow: hidden;
    transition: 1s;
    border-right: 3px solid var(--clr) ;
    -webkit-text-stroke: 1px var(--clr);

}

ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));

}

/* message qui defile */

.defilant {
    display: block;
    float: right;
    margin : 5px 15px 0px 15px ;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 30%;
    max-width: 640px;
    height: 20px;
}
.defilant > :first-child {
    display: inline-block;                
    padding-right: 4em;                 
    padding-left: 100%;                  
    white-space: nowrap;                  
    animation: defilement-rtl 15s infinite linear;

    animation-name: defilement-rtl;       
    animation-duration: 15s;             
    animation-iteration-count: infinite;  
    animation-timing-function: linear;    
  }

  .defilant:hover :first-child {
    animation-play-state: paused;
  }
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);     
    }
    100% {
      transform: translate3d(-100%,0,0);  
    }
  }


  /* singe */

  .monkey-king {
    margin-left: 800px;
    width: 10vh;
    height: 40vh;
    position: absolute;
    transform: translateY(0vmin);
    transform-origin: bottom;
    transition-duration: var(--skip-time);
}

#arm_bar {
    transform: rotate(0deg);
    transform-box: fill-box;
    transform-origin: center;
    animation: bar_rotate 3s linear infinite;
}

@keyframes bar_rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*fond etoile */

.stars {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  position: absolute;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  border-radius: 50%;
  animation: twinkle 10s infinite alternate;
}

@keyframes twinkle {
  0% {
      transform: scale(1);
      opacity: 0;
  }
  100% {
      transform: scale(1.1);
      opacity: 1;
  }
}

/* éclipse */

#root {
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 43%;
}

.lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lay-1 {
  animation: 30s linear rotate infinite;
  transform-origin: 66% 40%;
  background: repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 248, 176, 0.46) 3.96%, rgba(69, 168, 255, 0) 8.33%, rgba(69, 168, 255, 0) 8.33%) 69.5% 37.7%/17.2% 17.2% no-repeat, radial-gradient(ellipse at 50% 50%, #fff8b0 0%, rgba(69, 168, 255, 0) 47.22%) 74.1% 35.6%/33.6% 36.6% no-repeat;
  /* Rays */
}

.lay-2 {
  animation: 20s linear rotate infinite reverse;
  transform-origin: 66% 40%;
  background: radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 20%, #09090b 29%) 77.4% 33.8%/40% 40% no-repeat, repeating-conic-gradient(from 15deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 248, 176, 0.51) 2.64%, rgba(69, 168, 255, 0) 5.56%, rgba(69, 168, 255, 0) 5.56%) 69.5% 37.7%/17.2% 17.2% no-repeat;
  /* Rays */
}

.lay-3 {
  animation: 20s linear rotate infinite;
  background: repeating-conic-gradient(from 355deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 8.1%, rgba(69, 168, 255, 0) 16.67%, rgba(69, 168, 255, 0) 16.67%) 0 0/100% 100% no-repeat;
  /* Rays */
}

.lay-4 {
  animation: 40s linear rotate infinite reverse;
  background: repeating-conic-gradient(from 355deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 2.86%, rgba(69, 168, 255, 0) 5.88%, rgba(69, 168, 255, 0) 5.88%) 0% 0%/100% 100% no-repeat;
  /* Rays */
}

.lay-5 {
  animation: 40s linear rotate infinite;
  background: repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 198, 69, 0.26) 6.62%, rgba(69, 168, 255, 0) 7.69%, rgba(69, 168, 255, 0) 7.69%) 0% 0%/100% 100% no-repeat;
  /* Rays */
}

.lay-6 {
  background: radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.27) 0%, rgba(69, 168, 255, 0) 63.54%) 67% 39.3%/5.8% 5.8% no-repeat, radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 40.28%, rgba(255, 183, 163, 0.05) 52.43%, rgba(69, 168, 255, 0) 63.54%) 68% 38.6%/13% 13% no-repeat, radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.55) 0%, rgba(69, 168, 255, 0) 63.54%) 66.9% 39.3%/3.4% 3.4% no-repeat, radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.2) 0%, rgba(69, 168, 255, 0) 66.67%) 70.7% 36.5%/25.6% 25.6% no-repeat, radial-gradient(ellipse at 50% 50%, #09090b 26%, rgba(69, 168, 255, 0) 26.4%) 0% 0%/100% 100% no-repeat, radial-gradient(ellipse at 50% 50%, rgba(255, 212, 148, 0.04) 0%, rgba(69, 168, 255, 0) 69.79%) 0% 0%/100% 100% no-repeat, radial-gradient(ellipse at 50% 50%, rgba(255, 240, 148, 0.11) 0%, rgba(69, 168, 255, 0) 52.43%) 0% 0%/100% 100% no-repeat, radial-gradient(ellipse at 51% 49%, rgba(69, 168, 255, 0) 23.96%, #09090b 40.63%) 0% 0%/100% 100% no-repeat, repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 69, 0.14) 11.04%, rgba(69, 168, 255, 0) 20%, rgba(69, 168, 255, 0) 20%) 0% 0%/100% 100% no-repeat, radial-gradient(ellipse at 52% 48%, rgba(69, 168, 255, 0) 23.96%, #09090b 34.03%) 0% 0%/100% 100% no-repeat, radial-gradient(ellipse at 50% 50%, rgba(255, 185, 147, 0.29) 28%, rgba(69, 168, 255, 0) 30%) 0% 0%/100% 100% no-repeat;
  /* Glow */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* etoile filante */

#layers {
	height: auto;
	left: 0;
	overflow: hidden;
  position: absolute;
	top: 0;
  left: 0;
	width: auto;
}

#layers .layer {
	background-size: auto 100%;
	background-position: 50% 0;
	background-repeat: repeat-x;
	height: 200px;
	left: 0;
	position: absolute;
	top: 0;
	transform: translate3d(0, 0, 0);
	width: 200vw;
}

@keyframes twinkle {
	from { opacity: .3; }
	to { opacity: 1; }
}

@keyframes layer-1 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-689px, 0, 0); }
}
#layers .layer:nth-child(1) {
	animation: twinkle 10s ease-in -5s infinite alternate, layer-1 344s linear infinite;
	background-image: url('http://imgur.com/9beLKl9.png');
}

@keyframes layer-2 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-699px, 0, 0); }
}
#layers .layer:nth-child(2) {
	animation: twinkle 3s ease-in -3s infinite alternate, layer-2 349s linear infinite;
	background-image: url('http://imgur.com/46MRYFa.png');
}

@keyframes layer-3 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-699px, 0, 0); }
}
#layers .layer:nth-child(3) {
	animation: twinkle 3.5s ease-in infinite alternate, layer-3 349s linear infinite;
	background-image: url('http://imgur.com/46MRYFa.png');
}

@keyframes layer-4 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-480px, 0, 0); }
}
#layers .layer:nth-child(4) {
	animation: twinkle 4s ease-in -2s infinite alternate, layer-4 240s linear infinite;
	background-image: url('http://imgur.com/BqkETyl.png');
}

@keyframes layer-5 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-486px, 0, 0); }
}
#layers .layer:nth-child(5) {
	animation: twinkle 5.5s ease-in infinite alternate, layer-5 243s linear infinite;
	background-image: url('http://imgur.com/x1GB77K.png');
}

@keyframes shooting-star {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate3d(-270px, 180px, 0);
	}
}

#layers:before {
	animation: 500ms linear 3s shooting-star;
	background-image: url('http://imgur.com/ilhrli3.png');
	background-size: 72px 50px;
	content: ' ';
	height: 50px;
	left: 80%;
	position: absolute;
	top: -50px;
	width: 72px;
	z-index: 100;
}