html { 
    background-color: black;
    background-image: url(images/arbre.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }

.navbar {
    margin-left: 80%;
}

body {
    height: 50%;
    width: 70%;
    margin: auto ;
    color: black;
}

.profil {
    margin: 15px 15px 15px 15px;
    object-fit: cover;
    float: left;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 1);
}

section {
    margin-left: 50px;
    margin-right: 50px;
}

main { 
    background: linear-gradient(#86272c,#febcda);
}

::-webkit-scrollbar {
    width: 7px;
    background: #86272c;
    }
    ::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: #febcda;
    }

    /* i'm animation */

    .h-text{
        padding-top: 0px;
        margin-left: 40%;
    }

    .h-animate .text{
        position: relative;
        color: #febcda;
        font-size: 30px;
        font-weight: 600;
    }

    .h-animate .text.first-text{
        color: #FFF;
    }

    .text.sec-text:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #91353c;
        border-left: 2px solid #febcda;
        animation: animate 4s steps(12) infinite;
    }

    @keyframes animate{
    
        40%, 60%{
            left: calc(100% + 4px);
        }

        100%{
            left: 0%;
        }

    }